In [1]:
import pandas as pd

df = pd.read_csv("/Users/downy/Documents/2025-1_prometheus/selected_quotes_119938.csv")

In [5]:
print(df.shape)
df.head()

(119938, 3)

,quote,author,category
0,"I'm selfish, impatient and a little insecure. ...",Marilyn Monroe,"best, life, love, mistakes, truth"
1,You know you're in love when you can't fall as...,Dr. Seuss,"dreams, love, reality, sleep"
2,A friend is someone who knows all about you an...,Elbert Hubbard,"friend, friendship, knowledge, love"
3,Darkness cannot drive out darkness: only light...,"Martin Luther King Jr., A Testament of Hope: T...","darkness, drive-out, hate, inspirational, light"
4,We accept the love we think we deserve.,"Stephen Chbosky, The Perks of Being a Wallflower","inspirational, love"

In [3]:
df['category'].value_counts()

category
education, happiness, hope, inspirational, intelligence    1734
inspirational                                               603
love                                                        550
happiness                                                   466
humor                                                       450
                                                           ...
nature, time                                                  1
nature, stars, trees                                          1
delicious, nature, sunlight                                   1
conservation, environment, nature, preservation, woods        1
work, past, create                                            1
Name: count, Length: 88468, dtype: int64

In [4]:
df['category'].unique

<bound method Series.unique of 0                       best, life, love, mistakes, truth
1                            dreams, love, reality, sleep
2                     friend, friendship, knowledge, love
3         darkness, drive-out, hate, inspirational, light
4                                     inspirational, love
                               ...
119933                                man, doing, better
119934                             reading, people, king
119935                                       past, faces
119936                              anxiety, you, sorrow
119937                                work, past, create
Name: category, Length: 119938, dtype: object>

In [8]:
import pandas as pd

# CSV 파일을 읽어옵니다.
df = pd.read_csv("/Users/downy/Documents/2025-1_prometheus/selected_quotes_119938.csv")

# 10,000개의 데이터를 무작위로 샘플링합니다.
sampled_df = df.sample(n=10000, random_state=42)

# 샘플링된 데이터를 CSV 파일로 저장합니다.
sampled_df.to_csv("/Users/downy/Documents/2025-1_prometheus/sampled_quotes.csv", index=False)

# 저장된 파일을 확인합니다.
print("샘플링된 데이터가 'sampled_quotes.csv' 파일로 저장되었습니다.")

샘플링된 데이터가 'sampled_quotes.csv' 파일로 저장되었습니다.