Written by 김천지

# 핵심 카테고리 추출하기
- 상위 150개의 카테고리를 가져온다.
- 상위 150개의 카테고리 중 중복되는 것은 제거한다.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import os

# get the file path
file_path = os.getcwd() + '/cleaned_quotes_001.csv'

# read the file
df = pd.read_csv(file_path)

In [74]:
df

,quote,author,category,token length,author_name_only
0,"I'm selfish, impatient and a little insecure. ...",Marilyn Monroe,"best, life, love, mistakes, truth",41,marilyn monroe
1,You know you're in love when you can't fall as...,Dr. Seuss,"dreams, love, reality, sleep",18,dr. seuss
2,A friend is someone who knows all about you an...,Elbert Hubbard,"friend, friendship, knowledge, love",13,elbert hubbard
3,Darkness cannot drive out darkness: only light...,"Martin Luther King Jr., A Testament of Hope: T...","darkness, drive-out, hate, inspirational, light",20,martin luther king jr.
4,We accept the love we think we deserve.,"Stephen Chbosky, The Perks of Being a Wallflower","inspirational, love",8,stephen chbosky
...,...,...,...,...,...
183655,Stephen King in many respects is a wonderful w...,Anne Rice,"reading, people, king",39,anne rice
183656,One faces the future with one's past.,Pearl S. Buck,"past, faces",7,pearl s. buck
183657,What else does anxiety about the future bring ...,Thomas a Kempis,"anxiety, you, sorrow",13,thomas a kempis
183658,The wave of the future is coming and there is ...,Anne Morrow Lindbergh,"fighting, wave, coming",13,anne morrow lindbergh
183659,The fact is that all writers create their prec...,Jorge Luis Borges,"work, past, create",26,jorge luis borges

- 상위 150개의 카테고리만 추출한다.
- 중복되는 카테고리는 제거한다.

In [100]:
categoty_counts_df = pd.read_csv('category_counts.csv')
categoty_counts_df

             category  count
0                love  29740
1                life  28830
2       inspirational  24736
3          philosophy  12779
4               humor  10897
...               ...    ...
121601     grandchild      1
121602       eastgate      1
121603        chester      1
121604        blaring      1
121605     Sacrifices      1

[121606 rows x 2 columns]

In [101]:
# get the top 150 categories
top150_categories = categoty_counts_df.head(150).values
top150_categories = top150_categories[:,0]

# lower top150_categories
top150_categories = [x.lower() for x in top150_categories]

In [102]:
# for 문을 돌면서 중심 카테고리 단어가 다른 단어의 subset인 경우, 중심 카테고리 단어로 바꾸어주는 작업을 하자.

# 예를 들어 inspirational가 중심 카테고리 단어인 경우,
# inspirational-quotes는 inspirational로 바꾸는 것이다.
# inspirational-quote도 inspirational로 바꾸는 것이다.

# 이미 데이터는 빈도수가 높은 대로 정렬되어 있기 때문에 앞쪽 인덱스가 뒤쪽 인덱스의 subset인 경우일 것이다.
for i in range(len(top150_categories)):
    for j in range(i, len(top150_categories)):
        if top150_categories[i] in top150_categories[j]:
            top150_categories[j] = top150_categories[i]

top150_categories = list(set(top150_categories))
print(len(top150_categories))
top150_categories

121

['sadness',
 'quote',
 'freedom',
 'poetry',
 'time',
 'imagination',
 'fantasy',
 'debasish-mridha',
 'religion',
 'pain',
 'psychology',
 'prayer',
 'wisdom',
 'power',
 'romance',
 'writers',
 'billy-graham',
 'mind',
 'self-help',
 'trust',
 'passion',
 'relationships',
 'purpose',
 'books',
 'humor',
 'truth',
 'dreams',
 'children',
 'beauty',
 'travel',
 'kindness',
 'living',
 'joy',
 'education',
 'thoughts',
 'courage',
 'politics',
 'success',
 'intelligence',
 'inspiring',
 'calling',
 'growth',
 'belief',
 'loss',
 'leadership',
 'great',
 'spiritual',
 'future',
 'funny',
 'motivational',
 'confidence',
 'positive-thinking',
 'happiness',
 'sex',
 'hope',
 'peace',
 'positive',
 'creativity',
 'philosophy',
 'faith',
 'quotes',
 'forgiveness',
 'war',
 'self',
 'people',
 'action',
 'reality',
 'love',
 'god',
 'me',
 'inspirational',
 'israelmore-ayivor',
 'literature',
 'inspiration',
 'strength',
 'wealth',
 'friends',
 'money',
 'spirituality',
 'fear',
 'failure',
 'marriage',
 'past',
 'humanity',
 'good',
 'words',
 'reading',
 'you',
 'destiny',
 'humour',
 'change',
 'art',
 'christian',
 'writing',
 'relationship',
 'dream',
 'society',
 'think',
 'depression',
 'motivation',
 'learning',
 'knowledge',
 'life',
 'advice',
 'nature',
 'science',
 'world',
 'fiction',
 'family',
 'soul',
 'light',
 'food-for-thought',
 'goals',
 'magic',
 'death',
 'music',
 'history',
 'man',
 'business',
 'friendship',
 'work']

In [ ]:
# 최종 선정된 카테고리들
category_candidates = [
 'sadness',
 'quote',
 'freedom',
 'poetry',
 'time',
 'imagination',
 'fantasy',
 'religion',
 'pain',
 'psychology',
 'prayer',
 'wisdom',
 'power',
 'romance',
 'writers',
 'mind',
 'self-help',
 'trust',
 'passion',
 'relationships',
 'purpose',
 'books',
 'humor',
 'truth',
 'dreams',
 'children',
 'beauty',
 'travel',
 'kindness',
 'living',
 'joy',
 'education',
 'thoughts',
 'courage',
 'politics',
 'success',
 'intelligence',
 'inspiring',
 'calling',
 'growth',
 'belief',
 'loss',
 'leadership',
 'great',
 'spiritual',
 'future',
 'funny',
 'motivational',
 'confidence',
 'positive-thinking',
 'happiness',
 'sex',
 'hope',
 'peace',
 'positive',
 'creativity',
 'philosophy',
 'faith',
 'quotes',
 'forgiveness',
 'war',
 'self',
 'people',
 'action',
 'reality',
 'love',
 'god',
 'me',
 'inspirational',
 'literature',
 'inspiration',
 'strength',
 'wealth',
 'friends',
 'money',
 'spirituality',
 'fear',
 'failure',
 'marriage',
 'past',
 'humanity',
 'good',
 'words',
 'reading',
 'you',
 'destiny',
 'humour',
 'change',
 'art',
 'christian',
 'writing',
 'relationship',
 'dream',
 'society',
 'think',
 'depression',
 'motivation',
 'learning',
 'knowledge',
 'life',
 'advice',
 'nature',
 'science',
 'world',
 'fiction',
 'family',
 'soul',
 'light',
 'goals',
 'magic',
 'death',
 'music',
 'history',
 'man',
 'business',
 'friendship',
 'work'
]